<li>
<%=form_for @lecture do |f|%>
  <%=f.label :name,"Lecturename:"%><br/>
  <%=f.text_field :name%><br/>
  <%=f.label :name,"Semester:"%><br/>
  <%=f.number_field :semester%><br/>
  <%=f.submit%>
<%end%>
</li>
