<%title(@lecture.name)%>

<%=boxed @lecture.name do%>
  <li>
    <%=simple_format(@lecture.description)%>
  </li>
<%end%>

<%=boxed "Announcements",:new=>"announcements",:new_path=>new_lecture_announcement_path(@lecture),:paginate=>@announcements do%>
  <%= render :partial=>@announcements unless @announcements.empty?%>
  <%=content_tag :li do%>
    No Announcements made
  <%end if @announcements.empty?%>
<%end if permitted_to?(:read,:announcements)%>

<%=boxed "Downloads", :new_path=>new_lecture_download_path(@lecture),:new=>"downloads" do%>
  <%=render :partial=>'downloads/download',:collection=>@downloads%>
  <%=content_tag :li do%>
    <%=link_to "Download All",lecture_path(@lecture,:format=>:meta4)%>
  <%end unless @downloads.empty?%>
<%end if permitted_to?(:read,:downloads)%>
