<li id="comment<%=comment.id%>">
  <%=content_tag(:div,simple_format(auto_link(comment.body)))%>

  <%
    comment_destroy_url=case params[:controller]
      when 'posts' then [comment.commentable,comment]
      when 'announcements' then [comment.commentable.lecture,comment.commentable,comment]
    end
  %>
  <div class="item-menu">
    <b class="comment-count">by <%=comment.user.login%></b>
    <%=content_tag(:div,destroy_link(comment,comment_destroy_url,:remote=>true),:class=>"item-menu")%>
    <%=clear%>
  </div>
  <%=clear%>
</li>

