<div class="comment" id="comment<%=comment.id%>">
  <%=content_tag(:div,comment.user.login,:class=>"comment_user")%>
  <%=content_tag(:div,destroy_link(comment,post_comment_path(comment.post,comment),:remote=>true),:class=>"comment_nav")%>
  <%=clear%>
  <%=content_tag(:div,simple_format(comment.body),:class=>"comment_content")%>
  <%=clear%>
</div>

