<li id="comment<%=comment.id%>">
  <%=content_tag(:div,simple_format(auto_link(comment.body)))%>
  <%=content_tag(:div,"by "+comment.user.login)%>
  <%=content_tag(:div,destroy_link(comment,[comment.commentable,comment],:remote=>true),:class=>"item-menu")%>
  <%=clear%>
</li>

