<%title(@download.name)%>

<h2><%=@download.name%></h2>

<h3>Description</h3>
<%=simple_format(@download.description)%>

<h3>Mirrors</h3>
<%if @download.links.blank?%>
  No Links added
<%else%>
  <%=render :partial=>@download.links%>
<%end%>
<%=link_to "Metalink",lecture_download_path(@download.lecture,@download,:format=>:xml)%>

<h3>Add a Mirror</h3>
<p>Upload your File to a free Filehost(Mediafire,Rapidshare,..)</p>
<p>Copy Download URL into to Field below</p>
<%=render :partial=>'links/form'%>
