<%title(@download.name)%>
<%=boxed @download.name do%>
  <ul><li>
  <%=simple_format(auto_link(@download.description))%>
</ul></li>
<%end%>

  <%=boxed "Mirrors" do%>
    <ul>
      <%=render :partial=>@download.links%>
      <li>
    <%=link_to "Metalink",lecture_download_path(@download.lecture,@download,:format=>:meta4)%>
    </li>
  </ul>
  <%end%>

  <%=boxed "Add a Mirror" do%>
    <ul><li>
    <p>Upload your File to a free Filehost(Mediafire,Rapidshare,..)</p>
    <p>Copy Download URL into to Field below</p>
    <%=render :partial=>'links/form'%>
  </ul>
  <%end%>
