<%=boxed "List Users" do%>
<table border="1px">
  <tr>
    <th>Status</th>
    <th>Email</th>
    <th>Login</th>
    <th>Active</th>
    <th>Role</th>
    <th>toogle mod</th>
    <th></th>
  </tr>
  <%@users.each do |u|%>
  <tr>
    <td><%=u.logged_in?%>(<%=u.login_count%>)</td>
  <td><%=u.email%></td>
  <td><%=u.login%></td>
  <td><%=u.active?%></td>
  <td><%=u.role.name%></td>
  <td><%=link_to "toogle", promote_path(u) unless u.role.name=='admin'%></td>
  <td>
    <%=edit_link(u,edit_user_path(u))%>
    <%=destroy_link(u,user_path(u))%>
  </td>
  </tr>
  <%end%>
</table>
<%end%>
