<%= boxed "List static_links" do%>
  <li>
<table>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>URL</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @static_links.each do |static_link| %>
  <tr>
    <td><%=static_link.priority%></td>
    <td><%=static_link.name%></td>
    <td><%=static_link.url%></td>
    <td><%= link_to 'Edit', edit_static_link_path(static_link) %></td>
    <td><%= link_to 'Destroy', static_link, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'up', :controller=>:static_links,:action=>:up,:id=>static_link.id %></td>
    <td><%= link_to 'down', :controller=>:static_links,:action=>:down,:id=>static_link.id %></td>
  </tr>
<% end %>
</table>

<li></li>
<%= link_to 'New Static link', new_static_link_path %>
</li>
<%end%>
