<div id="post<%=params[:id]%>">
  <h3>
    <%=link_to post.title, post%>
    <%=edit_link(post,edit_post_path(post))%>
    <%=destroy_link(post,post_path(post))%>
  </h3>

  <%= raw (post.body) if post.user.admin?%>
  <%= simple_format(auto_link(post.body)) unless post.user.admin?%>


<h3 id="comment-count"><%=pluralize post.comments.length, "Comment"%></h3>
</div>
