<%title("View Post")%>

<%=boxed "Show Post" do%>
  <ul>
    <%=render :partial=>@post%>
  </ul>
<%end%>

<%=boxed "Comments" do%>
  <ul>
    <%=render :partial=>"comments/comment.html", :collection=>@post.comments%>
  </ul>
<%end%>

<%boxed "Add your comment" do%>
  <ul>
    <li>
    <%=render :partial=>"comments/form"%>
    </li>
  </ul>
<%end if permitted_to?(:create,@comment)%>
