<div class="center">
  <%=render(:partial=>"layouts/sidebar")%> 
  <div class=" with_sidebar" >
    <%=boxed "Status" do%>
      <li class="notice">
        <%=notice %>
      </li>
    <%end unless notice.nil?%>

    <%= yield %>
  
  </div>
  <%=clear%>
</div>

