<div class="center">
  <%=render(:partial=>"layouts/sidebar")%>
  <div class=" with_sidebar" >

    <%=content_tag(:div,:id=>"status") do%>
    <%=boxed "Status" do%>
      <%=content_tag(:li,notice)%>
      <script type="text/javascript">
        setTimeout("new Effect.Fade('status');", 7000);
      </script>
      <%end %>
    <%end unless flash[:notice].nil?%>

    <%= yield %>

  </div>
  <%=clear%>
</div>

