<div class="sidebar">

  <%=boxed "Login" do%>
      <%=render :partial=>"user_sessions/form"%>
  <%end unless current_user %>

  <%if current_user%>
    <%=render :partial=>"mylinks/index"%>

    <%=boxed "Timer" do%>
      <%@s_timers.each do |timer|%>
        <li>
        <%=distance_of_time_in_words(Time.now,timer.deadline)%>
        to:
        <%=timer.content%>
        </li>
      <%end%>
    <%end%>

    <%=boxed "Latest files" do%>
        <%@s_downloads.each do |dl|%>
          <li>
          <%=link_to dl.name,lecture_download_path(dl.lecture,dl) %>
          <%=distance_of_time_in_words(Time.now,dl.updated_at)%>
          </li>
        <%end%>
    <%end unless @s_downloads.empty?%>

  <%end%>

  <%=boxed "Latest threads" do%>
        <%@s_announcements.each do |a|%>
          <li>
          <%=link_to a.title,lecture_announcement_path(a.lecture,a)%>
          <%=distance_of_time_in_words(Time.now,a.updated_at)+" ago"%>
          </li>
        <%end%>
  <%end unless @s_announcements.empty?%>

</div>
