<div class="sidebar">

  <%=boxed "Login" do%>
      <%=render :partial=>"user_sessions/form"%>
  <%end unless current_user %>

  <%if current_user%>
    <%=render :partial=>"mylinks/index"%>

    <%=boxed "Latest Links" do%>
        <%@s_downloads.each do |dl|%>
          <li>
          <%=link_to dl.name,download_download_path(dl.lecture,dl) %><br/>
          </li>
        <%end%>
    <%end unless @s_downloads.empty?%>

    <%=boxed "Latest Questions" do%>
        <%@s_announcements.each do |a|%>
          <li>
          <%=link_to a.title,lecture_announcement_path(a.lecture,a)%><br/>
          </li>
        <%end%>
    <%end unless @s_announcements.empty?%>

  <%end%>
</div>
