<div class="sidebar">

  <div id="home_mylinks" class="inner_box">
    <h2> myLinks <%=new_link("mylinks")%></h2>
    <%@mylinks.each do |link|%>
      <div id="mylink<%=link.id%>">
        <%=link_to link.name, link.url%>
        <%=edit_link(link,edit_mylink_path(link))%>
        <%=destroy_link(link,mylink_path(link),:remote=>true)%>
      </div>
    <%end%>
  </div>

  <div id="home_downloads" class="inner_box">
    <h2>Latest Stuff</h2>
    <%@downloads.each do |dl|%>
      <%next if dl.links.empty?%>
      <%=link_to dl.name,dl.links.find(:first).url%><br/>
    <%end%>
  </div>


</div>
