<!DOCTYPE html>
<html>
  <head>
    <title>
      <%="Eddy2 - " + yield_for(:title,'Untitled')%>
    </title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%=render :partial=>'layouts/navbar'%>
    <%=render :partial=>'layouts/content'%>
    <%=render :partial=>'layouts/footer'%>
  </body>
</html>
